h1 {
  font-family: Pacifico;
  text-align: center;
  color: white;
}

#films-detail {
  font-family: IBM Plex Mono;
  text-align: center;
  margin-top: 5%;
  margin-right: 3em;
  margin-left: 3em;
}
p {
  margin: 1em;
}
h2 {
  margin-bottom: 1em;
}

* {
	margin: 0;
	padding: 0;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

html {
	height: 100%;
}

body {
	background: -webkit-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%);
	font-size: 20px;
}

#header-container {
	display: block;
  position: absolute;
	width: 320px;
  height: 55px;
	left: 15%;
  top: 25%;
	margin-left: -160px;
  margin-top: -87px;
}

/* Select style here */

select {
	margin: 0 auto;
	color: #EC6F66;
	width: 310px;
	padding: 15px;
	height: 25px;
	cursor: pointer;
}

select:hover {
	background-color: transparent;
	color: white;
	padding: 15px 5px 15px 25px;
}

select option {
	background-color: white;
	color: gray;
	width: 310px;
	padding: 10px 15px;
	height: 20px;
	cursor: pointer;
}

select option:hover {
	padding-left: 25px;
	width: 270px;
	color: #EC6F66;
}
